{% extends '/base.twig' %}

{% block title %}Úvodná stránka{% endblock %}

{% block content %}
    <h1>Úvod</h1>
    <p>
        Vitajte v žiackej knižke!
    </p>
    <p>
        ppiliar-ziackaKnizka-0.1
    </p>
{% endblock %}