{% extends '/base.twig' %}

{% block title %}Úvodná stránka{% endblock %}

{% block content %}
    <h1>Úvod</h1>
    <p>
        Vitajte na mojej peknej stránke!
    </p>
    <p>
        Testovaci text.
    </p>
{% endblock %}