{% extends "base.twig" %}

{% block title %}Zaujímavé odkazy{% endblock %}

{% block content %}
    <h1>Zaujímavé odkazy</h1>
    <table class="table table-hover mt-3">
        {% for link in links %}
            <tr>
                <td>
                    {{ link.name }}
                </td>
                <td>
                    <a href="{{ link.url }}">{{ link.url }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}