<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'menu.twig' %}
<div class="container mt-3">
    {# Zobrazovanie sprav pouzivatelovi #}
    {% if errorMessage %}
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    {% endif %}
    {% if successMessage %}
        <div class="alert alert-success">
            {{ successMessage }}
        </div>
    {% endif %}

    {# Hlavny obsah stranky #}
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>